<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="java_lang_programming.com.android_basic_technique_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".article76.CallBackFromFragmentToFragmentActivity"
            android:label="@string/title_activity_call_back_from_fragment_to_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".article83.OverlayFragmentActivity"
            android:label="@string/title_activity_overlay_fragment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".article86.LocalBroadcastManagerActivity"
            android:label="@string/title_activity_local_broadcast_manager"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".article87.DataBindingActivity"
            android:label="@string/title_activity_data_binding"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bottonAnime.BottomSheetDialogCustomAnimationActivity"
            android:label="@string/title_activity_bottom_sheet_dialog_custom_animation"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".calculateview.CalculateViewActivity"
            android:label="@string/title_activity_calculate_view"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>